[H264-720p][[:space:]]multicore-cas-chromo.mp4 filter=lfs diff=lfs merge=lfs -text
[H264-1080p][[:space:]]multicore-cas-chromo-final.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
